/* ページ全体のフォントをメイリオに */
body {
  font-family: "メイリオ", Meiryo;
}

input,
select {
  border: none !important;
}

select {
  --bs-form-select-bg-img: none !important;
}

#family-tree .form-select {
  padding: 0.375rem 0.75rem;
}

#ai-text {
  padding: 0.375rem 0.75rem;
}

/* 420px未満では #family-tree selectの文字サイズを小さく */
@media screen and (max-width: 420px) {
  #status-table th {
    font-size: 0.8rem;
  }

  #status-table td {
    font-size: 0.8rem;
  }

  #family-tree select {
    font-size: 0.67rem;
  }
}
